/* Файл стилей */
body {
	background-color: #fff;
	color:#2f2f2f;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

nav ul li {
	display:inline;
	padding: 2px 10px;
}

a {
	color: #2f882f;
}

.day {
	background-color: white;
	color:black;
}

.night {
	background-color: black;
	color:white;
}

#karkas {
	border: 1px solid #333;
	padding: 2px;
}